.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.content {
  width: 100%;
  max-width: 800px;
}

#produto-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.full-width {
  width: 100%;
}