<link rel="stylesheet" href="./views/catalogo-produtos/catalogo-produtos.css">

<main class="container">
	<div class="content">

		<div id="filters" class="k-block" style="margin-bottom: 8px;">
			<h2 class="k-header">Filtros</h2>
			<form>
				<input type="text" name="filter_nome" id="filter_nome">
				<input type="text" name="filter_categoria" id="filter_categoria">
				<button type="button">Filtrar</button>
				<button type="reset">Limpar</button>
			</form>
		</div>

		<div class="k-block">
			<div id="action-bar">
			</div>

			<section id="produtos-grid"></section>
		</div>

		<div id="produto-form-dialog">
			<form id="produto-form">
				<input type="hidden" name="id" id="id">

				<input class="full-width" name="nome" id="nome">

				<div class="input-container">
					<label for="categoria">Categoria</label>
					<input class="full-width" name="categoria" id="categoria">
				</div>

				<input class="full-width" name="preco" id="preco">

				<div class="input-container">
					<label for="data_cadastro">Data de Cadastro</label>
					<input class="full-width" name="data_cadastro" id="data_cadastro">
				</div>

				<div class="input-container">
					<label for="ativo">Ativo</label>
					<input name="ativo" id="ativo">
				</div>

				<div id="form-actions"></div>
			</form>
		</div>

		<section id="produto-preview" style="margin-top: 8px;"></section>
	</div>
</main>