<link rel="stylesheet" href="./components/produto-preview/produto-preview.css">

<div class="k-block" id="preview">
	<input class="full-width" name="nome" id="nome">

	<div class="input-container" style="gap: 0;">
		<label for="categoria">Categoria</label>
		<input class="full-width" name="categoria" id="categoria">
	</div>

	<div class="k-d-flex k-flex-column">
		<input name="preco" id="preco">
	</div>

	<div class="input-container" style="gap: 0;">
		<label for="data_cadastro">Data de Cadastro</label>
		<input class="full-width" readonly name="data_cadastro" id="data_cadastro">
	</div>

	<div class="input-container" style="gap: 0;">
		<label for="ativo">Ativo</label>
		<input name="ativo" id="ativo">
	</div>
</div>